snippet infh
	/**

	Abhay Shanker Pathak
	abhaysp9955@gmail.com
	https://github.com/coolabhays


	${1:Description} */


	#include<stdio.h>
	${0}
snippet memain
	// main function
	int main(int argc, char* argv[]) {
		${1:content}
		return 0;
	}
