snippet doch
	#!/usr/bin/env python
	#
	# Abhay Shanker Pathak
	# abhaysp9955@gmail.com
	# https://github.com/coolabhays
	#

	"""
	${1:Description}
	"""


	${0}
snippet '''
	'''$1'''$0
snippet """
	"""$1"""$0
